<!DOCTYPE html>
<html>
<head>
    <link rel="search" type="application/opensearchdescription+xml" title="Tanoshii JP-EN" href="/assets/static/osd/tanoshii-jp.xml">
    <link rel="search" type="application/opensearchdescription+xml" title="Tanoshii EN-JP" href="/assets/static/osd/tanoshii-en.xml">
    <link rel="search" type="application/opensearchdescription+xml" title="Duden" href="/assets/static/osd/duden.xml">
</head>

<body>
https://developer.mozilla.org/en-US/docs/Web/OpenSearch
</body>
</html>